.jspsych-content {
    margin: 50px auto;
    width: 900px;
}

.scenarios-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
}

.scenario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.vmulti {
    text-align: left;
    vertical-align: top;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    transition: background-color 300ms;
    border-radius: 10px;
}

.vmulti:hover {
    background-color: whitesmoke;
}

.hlikert-container {
    display: flex;
    font-size: 0;
    justify-content: center;
}

.hlikert {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: top;
    text-align: center;
    width: 114px;
    flex: 1 1 auto;
    margin-left: 2px;
    margin-right: 2px;
    padding: 10px 5px;
    font-size: 18px;
    transition: background-color 300ms;
    background-color: snow;
    border-radius: 10px;
}

.hlikert:hover {
    background-color: whitesmoke;
}

.hlikert-label {
    display: flex;
}

.mtable-container {
    width: 100%;
    font-size: 0;
    line-height: normal;
}

.mtable-scale-container {
    width: 100%;
}

.mtable-scale-spacer {
    display: inline-block;
    width: 100px;
    height: 10px;
}

.mtable-scale-point {
    display: inline-flex;
    width: 104px;
    height: 100%;
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: bottom;
}

.mtable-statement-container {
    width: 100%;
    transition: background-color 300ms;
}

.mtable-statement-container:hover {
    background-color: whitesmoke;
}

.mtable-statement-text {
    display: inline-flex;
    width: 100px;
    min-height: 50px;
    vertical-align: top;
    align-items: center;
    justify-content: right;
    font-size: 15px;
}

.mtable-statement-point {
    display: inline-flex;
    width: 110px;
    min-height: 50px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    justify-content: center;
}